
@media (min-width: 680px) {
  .advantages__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 37px 30px;
  }
}

@media (max-width: 1150px) {
  #chart3 {
    margin-bottom: 30px;
  }
  .data {
    &__text {
      margin-bottom: 80px;
    }
    &__inner {
      display: block;
    }
    &__tabs {
      margin: 0 0 30px 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .tabs__content {
    flex: 0 0 100%;
  }
  .scheme {
    flex: 0 1 100%;
    width: 100%;
    height: 100%;
    &__inner {
      justify-content: center;
    }
    &__text {
      top: 44%;
      right: 163px;
    }
  }
}


@media (max-width: 1082px) {
  .slide {
    display: block;
    &__img {
      margin: 0 auto 68px auto;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__signature {
      text-align: left;
      margin-bottom: 98px;
    }
  }
  .stories {
    &__slider{
      .swiper-button-prev::after,
      .swiper-button-next::after {
        top: auto;
      }
      .swiper-button-next,
      .swiper-button-prev {
         width: calc(var(--swiper-navigation-size) / 44 * 300);
        top: 97%
      }
      .swiper-button-next {
        left: auto;
      }
    }
    .swiper-pagination-custom {
      width: 53%;
      bottom: 7px;
    }
  }
}
@media (max-width: 1010px){
  .advantages {
    margin-top: -157px;
    padding-bottom: 96px;
  &__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   }
  }
}

@media (max-width: 1072px) {
  .footer__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 924px) {
  .footer__inner {
    flex-wrap: wrap;
    padding: 0 65px 0 65px;
  }
 .footer__item {
   flex: 0 1 50%;
   margin-bottom: 30px;
 }
}
@media (max-width: 950px) {
  .data {
    &__text {
      margin-bottom: 81px;
    }
  }
  .difference {
    min-height: 1590px;

    &__inner {
      display: block;
    }
    &__title {
      margin-bottom: 93px;
      padding: 0 40px;
    }
    &__img {
      img {
        border-top-left-radius: 163px;
        object-position: 50% 0;
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 93px;
    }
  }
  .stories__title {
    margin-bottom: 68px;
  }

}

@media(max-width: 720px) {
  body {
    &.lock menu::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 91px;
      background-color: #252B42;
      z-index: 26;
    }
  }

  .header__right {
    display: flex;
  }

  .header__search {
    margin-right: 32px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 28px;
    height: 18px;
    z-index: 25;
    cursor: pointer;
    transform: rotate(180deg);

    span {
      display: block;
      width: 20px;
      position: absolute;
      left: 0;
      top: 8px;
      height: 2px;
      background-color: #BDBDBD;
      transition: all .3s linear;
    }

    &::before,
    &::after {
      content: "";
      background-color: #BDBDBD;
      position: absolute;
      left: 0;
      height: 2px;
      transition: all .3s linear;
    }

    &::before {
      width: 28px;
      top: 17px;
    }

    &::after {
      width: 12px;
      top: 0;
    }

    &.active::before {
      transform: rotate(45deg);
      top: 8px;
      width: 24px;
    }

    &.active::after {
      transform: rotate(-45deg);
      top: 8px;
      width: 24px;
    }

    &.active span {
      transform: scale(0);
    }
  }
  .menu {
    position: fixed;
    top: -0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 15;
    overflow: auto;
    padding: 100px 30px 30px 30px;
    background-color: #6A6C71;
    transition: all .3s linear;

    &.active {
      right: 0;
      display: block;
    }

    &__list {
      display: block;
      font-size: 24px;
      line-height: 133%;
      text-align: center;
      padding: 0 10px;
      margin-right: 0;

      &-item:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }


  .intro {
    padding: 168px 0 92px 0;
  }

  .intro__content-title {
    font-size: 40px;
  }

  .data {
    padding: 88px 0 44px 0;
  }

  .stories {
    &__slider {
      .swiper-button-next,
      .swiper-button-prev {
        width: calc(var(--swiper-navigation-size) / 44 * 27);
      }
    }
  }

  .footer {
    padding: 66px 0;
  }
}

@media (max-width: 684px) {
 .footer__inner {
   display: block;
 }
  .footer__form {
    min-width: 282px;
  }
}

@media (max-width: 680px) {
  .advantages__column:not(:last-child) {
    margin-bottom: 35px;
  }
  .scheme {
    &__line {
      padding: 0;
    }
    &__inner {
      flex-wrap: wrap;
    }
    &__statistics {
      justify-content: center;
    }
    &__circle {
      margin: 10px 0 30px 0;
    }
    &__content {
      margin-top: 30px;
      padding: 0;
      flex: 100%;
    }
    &__icon {
      left: 20px;
    }
  }
}

@media (max-width: 505px) {
  .scheme__percentages {
    margin-top: 20px;
    &-item:last-child {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 414px) {
  #chart4 {
    padding: 10px;
  }
  .data__inner-bar {
    flex-wrap: wrap;
  }
  .scheme__title-bar {
    margin-bottom: 10px;
    flex: 100%;
  }
  .scheme__bar-list {
    margin-left: 17px;
  }
  #chart2 {
    padding: 0 10px 10px 10px;
  }
  .tabs__icon {
    margin-right: 25px;
  }
  .footer__inner {
    padding-left: 40px;
  }
  .footer__form {
    min-width: 240px;
  }
}